/*
Theme Name:     Dayofamentor Theme
Theme URI: 		http://themeforest.net/user/artbees
Description:    Child theme for the Jupiter theme 
Author:         docker
Theme URI: 		http://colorandcode.hu
Template:       jupiter
Version:        5.0.7
*/



/*
Sample : remove the comment and start adding your own custom CSS rules.

body {
	background-color:#fff;
}

*/

@media only screen and (max-width: 500px) {
	.header-logo, .header-style-4 .header-logo {
	    height: 70px !important;
	}
}

